<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="user-scalable=false, initial-scale = 1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>Infinite Pixels</title>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link href="build/style.css" rel="stylesheet">
</head>
<body class="logged-out">
	<header id="main-header">
		<a href="javascript:void(0)" class="hide-desktop" id="show-menu">
			<i class="icon-reorder icon-2x"></i>
		</a>
		<a href="#" id="branding"><strong>Infinite</strong>Pixels</a>
		<ul id="main-nav" class="hide-mobile">
			<li>
				<form action="#/search" method="get">
					<input name="search" type="text" placeholder="Search photos"/>
					<button type="submit"  value=""><i class="icon-search"></i></button>
				</form>
			</li>
			<li>
				<a href="#photos/popular">Popular</a>
			</li>
			<li>
				<a href="#photos/upcoming">Upcoming</a>
			</li>
			<li>
				<a href="#photos/fresh">Fresh</a>
			</li>
			<li class="show-logged-in">
				<a href="#photos/user_favorites/0/0">My Favorites</a>
			</li>
			<li class="show-logged-in">
				<a href="javascript:void(0)" onclick="_500px.logout()">Logout</a>
			</li>
			<li class="show-logged-out">
				<a href="javascript:void(0)" onclick="_500px.login();">Login</a>
			</li>
		</ul>
	</header>
	<div id="app">
		<div id="photolist-container">
			<ul id="photolist">
			</ul>
			<a href="#" id="show-more">
				<span class="label">Show More</span>
				<i class="icon-spinner icon-spin"></i>
			</a>
		</div>
		<div id="lightbox"></div>
	</div>

	<script id="template-image" type="text/x-handlebars-template">
		<a href="#/photo/<%= id %>">
			<img src="<%- getCleanImage(0) %>" alt="<%- get('description') %>" height="280" width="280" />
		</a>
	</script>

	<script id="template-lightbox-image" type="text/x-handlebars-template">
		<div class="wrapper">
			<div class="image-target" style="background-image: url('<%= getCleanImage(1, true) %>');" alt="<%- get('description') %>" />
		</div>
	</script>
	<script src="js/libs/jquery-1.9.1.js"></script>
	<script src="js/libs/json2.js"></script>
	<script src="js/libs/underscore.js"></script>
	<script src="js/libs/backbone.js"></script>
	<script type="application/javascript" src="js/libs/500px.js"></script>
	<script type="application/javascript">
		var fastClick = 'touchstart' in window ? 'touchstart' : 'click';

		//TODO de-globalize this
		_500px.init({
			sdk_key: 'ff47a113fe64f79dc9eb386df8420deec635870b'
		});

		_500px.on('authorization_obtained', $.proxy(function () {
			_500px.api('/users', $.proxy(function (response) {
				App.me = response.data.user;
				$("body").addClass("logged-in").removeClass("logged-out");
			}, this));
		},this));

		_500px.getAuthorizationStatus();

		_500px.on('logout', $.proxy(function () {
			$("body").removeClass("logged-in").addClass("logged-out");
		},this));

		//Infinite scroll, poll every N seconds to see if we should get more data 
		window.setInterval(function() {
			//Only fetch more if we're near the end of the document
			if($('body').scrollTop() + $(window).height() + 1000 < $('#show-more').offset().top) {
				return;
			}
			var $showMore = $('#show-more');
			if($showMore) {
				window.location = $showMore.attr('href');
			}
		}, 1000);

		//Mobile devices get an icon in place of a menu
		$('#show-menu, #main-nav a').on(fastClick, function() {
			$("#main-nav").toggleClass('hide-mobile');
		});

		$('#main-nav a').on('click', function() {
			$(document).scrollTop(0);
		});

		//Browsers append a ? to get forms, we want our app to handle form submissions
		$('form').on('submit', function(e) {
			e.preventDefault();
			$("input:focus").blur();
			$("#main-nav").addClass('hide-mobile');
			window.location = $(e.currentTarget).attr('action');
			$(document).scrollTop(0);
		});
	</script>
	<script src="js/app.js"></script>
</body>
</html>
